{% extends 'base.html' %}

{% block content %}
<div class="start-container">
    <div class="title-intro">
        <h1>Career Treasure Hunt Adventure</h1>
    </div>
    
    <div class="intro">
        <p>Find your career ideal by setting sail. Your choices will shape your destiny. Who knows, maybe you'll find some treasure along the way!</p>
    </div>

    <form action="{{ url_for('question') }}" method="post">
        <button type="submit" class="start-button">Start</button>
    </form>
</div>
{% endblock %}
